<!-- views/pages/map.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <!-- EJS partial for map -->
        <% include ../partials/map %>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>