<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test page</title>
</head>
<body>
    <h1>Welcome to my test page</h1>
    <table>
        <% for (var counter = 0; counter < people.length; counter++){ %>
    <tr>
        <td>
            <%= people[counter].first_name %>
        </td>
        <td>
            <%= people[counter].last_name %>
        </td>
    </tr>
        <% } %>
    </table>
</body>
</html>