<div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <h2>Variable</h2>
    <p>
        <%= tagline %>
    </p>

    <h2>Loop</h2>

    <table class="table">
        <% drinks.forEach(function(drink) { %>
            <tr>
                <td>
                    <%= drink.name %>
                </td>
                <td>
                    <%= drink.drunkness %>
                </td>
            </tr>
            <% }); %>
    </table>
</div>