<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Good morning</h1>

    <form action="/do_user" method="post">
        <input type="text" name="user_name" placeholder="username" value="bill">
        <input type="text" name="password" placeholder="password" value="1234">

        <input type="submit" value="submit">
    </form>

</body>

</html>