<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanks!</title>
</head>

<body>
    <h1>thanks for your submission!</h1>
    <div>
        <p>
            <%= username %>
        </p>
        <p>
            <%= password %>
        </p>
    </div>
</body>

</html>